In [337]:
import pandas as pd
import datetime as dt

In [338]:
exchange_rates_df = pd.read_csv(r"C:\Users\LeLuu\Documents\Python_Practice\Challenge_449\exchange_rates.csv")

In [339]:
sales_figures_df = pd.read_csv(r"C:\Users\LeLuu\Documents\Python_Practice\Challenge_449\sales_figures.csv")

In [340]:
exchange_rates_df

,Currency,EUR,USD,JPY,GBP,CHF,CAD,MAD,CNY,THB,ILS,RUB
0,EUR,1.0000,1.0700,158.50,0.8600,0.9800,1.4700,11.240,7.460,39.23,4.180,102.04
1,USD,0.9300,1.0000,148.00,0.8000,0.9200,1.3700,10.500,6.970,36.66,3.890,95.00
2,JPY,0.0063,0.0068,1.00,0.0054,0.0062,0.0093,0.071,0.047,0.25,0.026,0.64
3,GBP,1.1700,1.2500,185.00,1.0000,1.1400,1.7100,13.160,8.730,45.74,4.850,118.80
4,CHF,1.0200,1.0900,161.00,0.8800,1.0000,1.5000,11.550,7.660,40.10,4.250,104.00
5,CAD,0.6800,0.7300,108.30,0.5800,0.6700,1.0000,7.700,5.100,26.73,2.830,69.33
6,MAD,0.0890,0.0950,14.05,0.0750,0.0870,0.1300,1.000,0.660,3.47,0.370,8.99
7,CNY,0.1300,0.1400,21.60,0.1100,0.1300,0.2000,1.520,1.000,5.26,0.560,13.61
8,THB,0.0260,0.0270,4.10,0.0220,0.0250,0.0370,0.290,0.190,1.00,0.110,2.59
9,ILS,0.2400,0.2600,37.80,0.2100,0.2400,0.3500,2.620,1.790,9.47,1.000,23.88
10,RUB,0.0098,0.0110,1.56,0.0084,0.0096,0.0140,0.110,0.073,0.39,0.042,1.00

In [341]:
sales_figures_df

,Region,Date,Segment,Country,Currency,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
0,APAC,2022-02-01,Small Business,Japan,JPY,VTT,Low,1778.0,260.0,350.0,622300.0,24892.00,597408.0,462280.0,135128.00
1,APAC,2022-02-01,Enterprise,China,CNY,Velo,Medium,1802.0,10.0,20.0,36040.0,1802.00,34238.0,18020.0,16218.00
2,APAC,2022-02-01,Enterprise,Japan,JPY,Velo,Medium,2436.0,250.0,300.0,730800.0,43848.00,686952.0,609000.0,77952.00
3,APAC,2022-02-01,Government,China,CNY,Montana,Medium,1421.0,120.0,20.0,28420.0,1989.40,26430.6,14210.0,12220.60
4,APAC,2022-02-01,Government,China,CNY,Amarilla,High,808.0,250.0,300.0,242400.0,19392.00,223008.0,202000.0,21008.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266,USA,2023-12-01,Small Business,USA,USD,VTT,Medium,380.0,10.0,7.0,2660.0,292.60,2367.4,1900.0,467.40
2267,USA,2023-12-01,Government,Canada,CAD,Montana,Medium,30256.0,3.0,125.0,302000.0,36240.00,3782000.0,289920.0,-24160.00
2268,USA,2023-12-01,Enterprise,Canada,CAD,Velo,High,623.0,250.0,350.0,218050.0,26166.00,191884.0,161980.0,29904.00
2269,USA,2023-12-01,Channel Partners,USA,USD,Amarilla,High,2761.0,260.0,1200.0,33132.0,3975.84,3313200.0,8283.0,20873.16
2270,USA,2023-12-01,Enterprise,USA,USD,Velo,High,2470.0,10.0,15.0,37050.0,5187.00,31863.0,24700.0,7163.00

In [342]:
sales_no_null = sales_figures_df.dropna(subset=['Sales'])

In [343]:
sales_no_null.dtypes

Region                  object
Date                    object
Segment                 object
Country                 object
Currency                object
Product                 object
Discount Band           object
Units Sold             float64
Manufacturing Price    float64
Sale Price             float64
Gross Sales            float64
Discounts              float64
Sales                  float64
COGS                   float64
Profit                 float64
dtype: object

In [344]:
sales_no_null['year_market'] = sales_no_null['Date'].str[:4]

C:\Users\LeLuu\AppData\Local\Temp\ipykernel_4384\2485059197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_no_null['year_market'] = sales_no_null['Date'].str[:4]

In [345]:
sales_no_null

,Region,Date,Segment,Country,Currency,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,year_market
0,APAC,2022-02-01,Small Business,Japan,JPY,VTT,Low,1778.0,260.0,350.0,622300.0,24892.00,597408.0,462280.0,135128.00,2022
1,APAC,2022-02-01,Enterprise,China,CNY,Velo,Medium,1802.0,10.0,20.0,36040.0,1802.00,34238.0,18020.0,16218.00,2022
2,APAC,2022-02-01,Enterprise,Japan,JPY,Velo,Medium,2436.0,250.0,300.0,730800.0,43848.00,686952.0,609000.0,77952.00,2022
3,APAC,2022-02-01,Government,China,CNY,Montana,Medium,1421.0,120.0,20.0,28420.0,1989.40,26430.6,14210.0,12220.60,2022
4,APAC,2022-02-01,Government,China,CNY,Amarilla,High,808.0,250.0,300.0,242400.0,19392.00,223008.0,202000.0,21008.00,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266,USA,2023-12-01,Small Business,USA,USD,VTT,Medium,380.0,10.0,7.0,2660.0,292.60,2367.4,1900.0,467.40,2023
2267,USA,2023-12-01,Government,Canada,CAD,Montana,Medium,30256.0,3.0,125.0,302000.0,36240.00,3782000.0,289920.0,-24160.00,2023
2268,USA,2023-12-01,Enterprise,Canada,CAD,Velo,High,623.0,250.0,350.0,218050.0,26166.00,191884.0,161980.0,29904.00,2023
2269,USA,2023-12-01,Channel Partners,USA,USD,Amarilla,High,2761.0,260.0,1200.0,33132.0,3975.84,3313200.0,8283.0,20873.16,2023
2270,USA,2023-12-01,Enterprise,USA,USD,Velo,High,2470.0,10.0,15.0,37050.0,5187.00,31863.0,24700.0,7163.00,2023

In [346]:
sales_convert_ccy_df = pd.merge(sales_no_null,exchange_rates_df,on="Currency",how="inner")

In [347]:
sales_convert_ccy_df

,Region,Date,Segment,Country,Currency,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,...,USD,JPY,GBP,CHF,CAD,MAD,CNY,THB,ILS,RUB
0,APAC,2022-02-01,Small Business,Japan,JPY,VTT,Low,1778.0,260.0,350.0,...,0.0068,1.0,0.0054,0.0062,0.0093,0.071,0.047,0.25,0.026,0.64
1,APAC,2022-02-01,Enterprise,Japan,JPY,Velo,Medium,2436.0,250.0,300.0,...,0.0068,1.0,0.0054,0.0062,0.0093,0.071,0.047,0.25,0.026,0.64
2,APAC,2022-02-01,Government,Japan,JPY,Amarilla,High,1916.0,120.0,125.0,...,0.0068,1.0,0.0054,0.0062,0.0093,0.071,0.047,0.25,0.026,0.64
3,APAC,2022-02-01,Government,Japan,JPY,Montana,High,2015.0,260.0,12.0,...,0.0068,1.0,0.0054,0.0062,0.0093,0.071,0.047,0.25,0.026,0.64
4,APAC,2022-02-01,Government,Japan,JPY,Paseo,High,2438.0,120.0,125.0,...,0.0068,1.0,0.0054,0.0062,0.0093,0.071,0.047,0.25,0.026,0.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,USA,2023-12-01,Government,USA,USD,VTT,Low,736.0,120.0,20.0,...,1.0000,148.0,0.8000,0.9200,1.3700,10.500,6.970,36.66,3.890,95.00
2201,USA,2023-12-01,Government,USA,USD,Velo,Medium,1283.0,5.0,300.0,...,1.0000,148.0,0.8000,0.9200,1.3700,10.500,6.970,36.66,3.890,95.00
2202,USA,2023-12-01,Small Business,USA,USD,VTT,Medium,380.0,10.0,7.0,...,1.0000,148.0,0.8000,0.9200,1.3700,10.500,6.970,36.66,3.890,95.00
2203,USA,2023-12-01,Channel Partners,USA,USD,Amarilla,High,2761.0,260.0,1200.0,...,1.0000,148.0,0.8000,0.9200,1.3700,10.500,6.970,36.66,3.890,95.00
2204,USA,2023-12-01,Enterprise,USA,USD,Velo,High,2470.0,10.0,15.0,...,1.0000,148.0,0.8000,0.9200,1.3700,10.500,6.970,36.66,3.890,95.00

In [348]:
sales_convert_ccy_df['sales_convert_EUR'] = sales_convert_ccy_df['Sales']*sales_convert_ccy_df['EUR']

In [349]:
sales_df = sales_convert_ccy_df.groupby(by=['Segment',"Region","year_market"])['sales_convert_EUR'].sum()

In [350]:
sales_df = sales_df.reset_index()

In [351]:
sales_df

             Segment  Region year_market  sales_convert_EUR
0   Channel Partners    APAC        2022       2.967201e+05
1   Channel Partners    APAC        2023       3.547354e+05
2   Channel Partners  Europe        2022       1.747816e+07
3   Channel Partners  Europe        2023       1.652259e+07
4   Channel Partners     USA        2022       4.677241e+06
5   Channel Partners     USA        2023       5.581971e+06
6         Enterprise    APAC        2022       2.741772e+05
7         Enterprise    APAC        2023       2.597364e+05
8         Enterprise  Europe        2022       1.618712e+07
9         Enterprise  Europe        2023       1.073043e+07
10        Enterprise     USA        2022       2.901371e+06
11        Enterprise     USA        2023       2.101678e+06
12        Government    APAC        2022       8.401755e+05
13        Government    APAC        2023       1.089334e+06
14        Government  Europe        2022       7.297112e+07
15        Government  Europe        2023       5.411590e+07
16        Government     USA        2022       1.018704e+07
17        Government     USA        2023       1.164317e+07
18         Midmarket    APAC        2022       6.170428e+05
19         Midmarket    APAC        2023       5.634861e+05
20         Midmarket  Europe        2022       2.825850e+07
21         Midmarket  Europe        2023       1.858519e+07
22         Midmarket     USA        2022       6.037708e+06
23         Midmarket     USA        2023       5.433532e+06
24    Small Business    APAC        2022       3.725557e+05
25    Small Business    APAC        2023       3.777840e+05
26    Small Business  Europe        2022       1.139892e+07
27    Small Business  Europe        2023       1.619502e+07
28    Small Business     USA        2022       4.940531e+06
29    Small Business     USA        2023       4.690343e+06

In [352]:
pivot_df = sales_df.pivot(index=['Region','Segment'],columns='year_market',values='sales_convert_EUR')

In [353]:
pivot_df=pivot_df.reset_index()

In [354]:
pivot_df

year_market  Region           Segment          2022          2023
0              APAC  Channel Partners  2.967201e+05  3.547354e+05
1              APAC        Enterprise  2.741772e+05  2.597364e+05
2              APAC        Government  8.401755e+05  1.089334e+06
3              APAC         Midmarket  6.170428e+05  5.634861e+05
4              APAC    Small Business  3.725557e+05  3.777840e+05
5            Europe  Channel Partners  1.747816e+07  1.652259e+07
6            Europe        Enterprise  1.618712e+07  1.073043e+07
7            Europe        Government  7.297112e+07  5.411590e+07
8            Europe         Midmarket  2.825850e+07  1.858519e+07
9            Europe    Small Business  1.139892e+07  1.619502e+07
10              USA  Channel Partners  4.677241e+06  5.581971e+06
11              USA        Enterprise  2.901371e+06  2.101678e+06
12              USA        Government  1.018704e+07  1.164317e+07
13              USA         Midmarket  6.037708e+06  5.433532e+06
14              USA    Small Business  4.940531e+06  4.690343e+06

In [355]:
pivot_df['YOY'] = pivot_df['2023']-pivot_df['2022']

In [356]:
pivot_df

year_market,Region,Segment,2022,2023,YOY
0,APAC,Channel Partners,2.967201e+05,3.547354e+05,5.801531e+04
1,APAC,Enterprise,2.741772e+05,2.597364e+05,-1.444084e+04
2,APAC,Government,8.401755e+05,1.089334e+06,2.491581e+05
3,APAC,Midmarket,6.170428e+05,5.634861e+05,-5.355679e+04
4,APAC,Small Business,3.725557e+05,3.777840e+05,5.228323e+03
5,Europe,Channel Partners,1.747816e+07,1.652259e+07,-9.555695e+05
6,Europe,Enterprise,1.618712e+07,1.073043e+07,-5.456688e+06
7,Europe,Government,7.297112e+07,5.411590e+07,-1.885522e+07
8,Europe,Midmarket,2.825850e+07,1.858519e+07,-9.673311e+06
9,Europe,Small Business,1.139892e+07,1.619502e+07,4.796100e+06
10,USA,Channel Partners,4.677241e+06,5.581971e+06,9.047304e+05
11,USA,Enterprise,2.901371e+06,2.101678e+06,-7.996933e+05
12,USA,Government,1.018704e+07,1.164317e+07,1.456136e+06
13,USA,Midmarket,6.037708e+06,5.433532e+06,-6.041768e+05
14,USA,Small Business,4.940531e+06,4.690343e+06,-2.501879e+05

In [357]:
pivot_df = pivot_df[pivot_df['YOY']<0]

In [358]:
pivot_df

year_market,Region,Segment,2022,2023,YOY
1,APAC,Enterprise,2.741772e+05,2.597364e+05,-1.444084e+04
3,APAC,Midmarket,6.170428e+05,5.634861e+05,-5.355679e+04
5,Europe,Channel Partners,1.747816e+07,1.652259e+07,-9.555695e+05
6,Europe,Enterprise,1.618712e+07,1.073043e+07,-5.456688e+06
7,Europe,Government,7.297112e+07,5.411590e+07,-1.885522e+07
8,Europe,Midmarket,2.825850e+07,1.858519e+07,-9.673311e+06
11,USA,Enterprise,2.901371e+06,2.101678e+06,-7.996933e+05
13,USA,Midmarket,6.037708e+06,5.433532e+06,-6.041768e+05
14,USA,Small Business,4.940531e+06,4.690343e+06,-2.501879e+05

In [359]:
pivot_df['count_region'] = pivot_df.groupby(['Segment'])['Region'].transform('count')

C:\Users\LeLuu\AppData\Local\Temp\ipykernel_4384\1733396725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_df['count_region'] = pivot_df.groupby(['Segment'])['Region'].transform('count')

In [360]:
pivot_df

year_market,Region,Segment,2022,2023,YOY,count_region
1,APAC,Enterprise,2.741772e+05,2.597364e+05,-1.444084e+04,3
3,APAC,Midmarket,6.170428e+05,5.634861e+05,-5.355679e+04,3
5,Europe,Channel Partners,1.747816e+07,1.652259e+07,-9.555695e+05,1
6,Europe,Enterprise,1.618712e+07,1.073043e+07,-5.456688e+06,3
7,Europe,Government,7.297112e+07,5.411590e+07,-1.885522e+07,1
8,Europe,Midmarket,2.825850e+07,1.858519e+07,-9.673311e+06,3
11,USA,Enterprise,2.901371e+06,2.101678e+06,-7.996933e+05,3
13,USA,Midmarket,6.037708e+06,5.433532e+06,-6.041768e+05,3
14,USA,Small Business,4.940531e+06,4.690343e+06,-2.501879e+05,1

In [363]:
second_ans_df = pivot_df[pivot_df['count_region']==3]['Segment']

In [365]:
second_ans_df.unique()

array(['Enterprise', 'Midmarket'], dtype=object)