In [81]:
import pandas as pd
import numpy as np
import re

In [82]:
df = pd.read_csv("tags.csv")

In [83]:
df

         tag Service  WorkingTemp  WorkingPressure
0  P101A/B/C     Oil           35             2000
1    P203A-D     Gas           41             3000
2    P401A/G      N2           10             2100
3      T101B      FW           40             1500
4       B301      CW           23             2400

In [84]:
df['left_four'] = df['tag'].str.extract(r'(\w{1}\d{3}).*')

In [85]:
df

         tag Service  WorkingTemp  WorkingPressure left_four
0  P101A/B/C     Oil           35             2000      P101
1    P203A-D     Gas           41             3000      P203
2    P401A/G      N2           10             2100      P401
3      T101B      FW           40             1500      T101
4       B301      CW           23             2400      B301

In [86]:
df['tag_name'] = df['tag'].str.extract(r'\w{1}\d{3}(.*)')

In [87]:
df

         tag Service  WorkingTemp  WorkingPressure left_four tag_name
0  P101A/B/C     Oil           35             2000      P101    A/B/C
1    P203A-D     Gas           41             3000      P203      A-D
2    P401A/G      N2           10             2100      P401      A/G
3      T101B      FW           40             1500      T101        B
4       B301      CW           23             2400      B301

In [88]:
def filling_missing_char(txt):
    if pd.isna(txt):
        return np.nan()
    if '-' in txt and len(txt) == 3:
        start, end = txt.split('-')
        return [chr(i) for i in range(ord(start), ord(end)+1)]
    if '/' in txt and len(txt) ==3:
        start,end = txt.split('/')
        return [chr(i) for i in range(ord(start),ord(end)+1)]
    else:
        return txt.split('/')

In [89]:
df['split_char'] = df['tag_name'].apply(filling_missing_char)

In [90]:
df

,tag,Service,WorkingTemp,WorkingPressure,left_four,tag_name,split_char
0,P101A/B/C,Oil,35,2000,P101,A/B/C,"[A, B, C]"
1,P203A-D,Gas,41,3000,P203,A-D,"[A, B, C, D]"
2,P401A/G,N2,10,2100,P401,A/G,"[A, B, C, D, E, F, G]"
3,T101B,FW,40,1500,T101,B,[B]
4,B301,CW,23,2400,B301,,[]

In [91]:
df = df.explode('split_char', ignore_index=True)

In [92]:
df

,tag,Service,WorkingTemp,WorkingPressure,left_four,tag_name,split_char
0,P101A/B/C,Oil,35,2000,P101,A/B/C,A
1,P101A/B/C,Oil,35,2000,P101,A/B/C,B
2,P101A/B/C,Oil,35,2000,P101,A/B/C,C
3,P203A-D,Gas,41,3000,P203,A-D,A
4,P203A-D,Gas,41,3000,P203,A-D,B
5,P203A-D,Gas,41,3000,P203,A-D,C
6,P203A-D,Gas,41,3000,P203,A-D,D
7,P401A/G,N2,10,2100,P401,A/G,A
8,P401A/G,N2,10,2100,P401,A/G,B
9,P401A/G,N2,10,2100,P401,A/G,C
10,P401A/G,N2,10,2100,P401,A/G,D
11,P401A/G,N2,10,2100,P401,A/G,E
12,P401A/G,N2,10,2100,P401,A/G,F
13,P401A/G,N2,10,2100,P401,A/G,G
14,T101B,FW,40,1500,T101,B,B
15,B301,CW,23,2400,B301,,

In [95]:
df['new_tag'] = df['left_four']+df['split_char']

In [97]:
df_result = df.drop(columns=['left_four','tag_name','split_char'],axis=1)

In [98]:
df_result

          tag Service  WorkingTemp  WorkingPressure new_tag
0   P101A/B/C     Oil           35             2000   P101A
1   P101A/B/C     Oil           35             2000   P101B
2   P101A/B/C     Oil           35             2000   P101C
3     P203A-D     Gas           41             3000   P203A
4     P203A-D     Gas           41             3000   P203B
5     P203A-D     Gas           41             3000   P203C
6     P203A-D     Gas           41             3000   P203D
7     P401A/G      N2           10             2100   P401A
8     P401A/G      N2           10             2100   P401B
9     P401A/G      N2           10             2100   P401C
10    P401A/G      N2           10             2100   P401D
11    P401A/G      N2           10             2100   P401E
12    P401A/G      N2           10             2100   P401F
13    P401A/G      N2           10             2100   P401G
14      T101B      FW           40             1500   T101B
15       B301      CW           23             2400    B301